
@media only screen and (min-width: 40em) {
  :root {
    --primary-color: #3c0a64;
    --text-color-light:white;
    --text-color-dark: #000000;
    --border-radius: 20px;
}

#menu{
    display: none;
}

p {
  font-weight: bold;
  padding: 2px 6px;
  margin: 4px 4px;
}

h3{
  text-align: center;
}


.navigation{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 1.1rem;
    margin: 20px;
    align-items: center;
}

.navigation a {
  color: var(--text-color-light);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
}

.navigation a:hover{
  background-color: var(--text-color-light);
  color: var(--primary-color);
}

header{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: var(--text-color-light);
    max-width: 1250px;
    margin: 0 auto;
}

header h1 {
  margin: 0;
  font-size: 1.6rem;
}


#templeContainer,
.temple-image-container{
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 45px;
  gap: 30px;
  padding: 0;
}


img {
    transition: transform 0.3s ease;
  }

  img:hover,
  img:active {
    transform: scale(1.05);
  }


#lastModified{
    font-size: small;
    color: var(--text-color-light);
    font-weight: bold;
}

footer {
  background-color:var(--primary-color);
  color: var(--text-color-light);
  text-align: center;
  padding: 20px;
}

figure {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 10px 0;
}


.imagePic{
  border-radius: 20px;
  transform: scale();
}

img {
  transition: transform 0.3s ease; 
}

img:active,  
img:hover {   
  transform: scale(1.1); 
}
}