
@media only screen and (min-width: 40em) {
#menu{
    display: none;
}

.navigation{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 25px;
    margin: 20px;
}

header{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: var(--text-color-light);
    max-width: 1250px;
}

header h2{
    margin: 20px;
}


nav a:hover{
    background-color: var(--text-color-light);
    padding: 6px;
    text-decoration: none;
    border-radius: var(--border-radius);
}


nav a{
    color: var(--text-color-light);
    text-decoration: none;
}

.imagePic{
    width: 350px;
    height: 200px;
    border-radius: var(--border-radius);
}

.temple-image-container{
    grid-template-columns: 1fr 1fr 1fr;
    margin: 45px;
    gap: 30px;
    
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

main h1{
   text-align: center; 
}

#lastModified{
    font-size: small;
    color: var(--text-color-light);
    font-weight: bold;
}

footer {
  background-color:var(--primary-color);
  color: var(--text-color-light);
  text-align: center;
  padding: 20px;
}

figure {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 10px 0;
}

figcaption{
  margin: 8px 0 0 0;
  font-size: 18px;
  color: var(--text-color-dark);
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.imagePic{
  border-radius: 20px;
  transform: scale();
}

img {
  transition: transform 0.3s ease; 
}

img:active,  
img:hover {   
  transform: scale(1.1); 
}
}